@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
}

body{
  font-family:'Poppins',sans-serif;

  background:
    radial-gradient(
      circle at top right,
      rgba(124,92,252,.12),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(182,156,255,.12),
      transparent 35%
    ),
    linear-gradient(
      135deg,
      #F8F9FF,
      #F4F2FF,
      #FFFFFF
    );

  color:#1E1B4B;

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight:700;
}

a{
  text-decoration:none;
  color:inherit;
}